* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 325vh;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.747);
}

.main_body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.split {
  width: 100%;
  height: 100%;
  padding: 30px;
  border: 1px solid;
  text-align: center;
}

.left {
  background-color: #ca1c64;
}

.right {
  background-color: #0b314e;
}

.gutter {
  cursor: e-resize;
  height: 100%;
  background: green;
}

.emoji {
  color: black;
}

.link {
  color: teal;
}

.portfolio {
  padding-left: 30px;
  width: 600px;
}

.titles {
  font-size: 25px;
  color: greenyellow;
}

.rpg {
  width: 600px;
  height: 550px;
}

.flappy {
  width: 600px;
  height: 500px;
}

.collector {
  width: 600px;
  height: 350px;
}

.heading {
  font-size: 20px;
  color: gold;
}

#story {
  font-size: 20px;
  width: 600px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#name {
  color: gold;
}

.info {
  font-size: 18px;
}